body {
    background-color: #f8f8f8;
}

/*
 * site-header
 */

.jumbotron.site-header {
    background-color: #2a2730;
    margin-bottom: 0;
    color: #b5e853;
}

/*
 * navigation
 */

.navrow {
    background-color: #666666;
    height: 40px;
}

/*
 * body
 */

.container.main {
    padding: 30px;
    background-color: #fff;
}

.container .jumbotron {
    background-color: #3b5998;
    min-height: 300px;
}

.container .jumbotron h1 {
    font-size: 2.9em;
    color: #eaffea;
    padding-bottom: 10px;
    border-bottom: #eaffea dashed 0.01em;
}

.container .jumbotron .content {
    color: #fff;
}


